<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Whisper</string>
    <key>CFBundleDisplayName</key>
    <string>Whisper</string>
    <key>CFBundleIdentifier</key>
    <string>com.hyrak.whisper</string>
    <key>CFBundleVersion</key>
    <string>2</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>Whisper</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSMicrophoneUsageDescription</key>
    <string>Whisper a besoin d'accéder au microphone pour enregistrer ta voix et la transcrire en texte.</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>Whisper a besoin d'envoyer des commandes clavier pour coller le texte transcrit.</string>
</dict>
</plist>
